/* 设置大盒子的样式 */
.box {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #333;
}
/* 设置内部a元素的样式 */
.inner_box a {
  display: block;
  text-decoration: none;
  font-size: 12px;
  color: #b0b0b0;
}
/* 设置a悬停时的样式 */
.inner_box a:hover {
  color: #e9e9e9;
}
/* 让右边导航栏向左浮动,左边导航栏向右浮动 设置大体布局 */
.left_nav,
.left_nav li,
.right_nav li {
  float: left;
}
/* 让购物车向右浮动 */
.cart,
.right_nav {
  float: right;
}
.left_nav li {
  margin: 0 4px;
}
.line {
  height: 10px;
  width: 1px;
  color: #35393f;
}
.right_nav li {
  margin: 0 4px;
}
/* 设置购物车的盒子样式 */
.cart {
  width: 120px;
  height: 40px;
  background-color: #424242;
  margin-left: 20px;
  text-align: center;
}
/* 设置购物车图标 */
.cart i {
  display: table;
  float: left;
  margin-top: 14px;
  margin-left: 20px;
  color: #ffffff;
}
.cart:hover a {
  background-color: #ffffff;
  color: #ff6700;
}
.cart:hover i {
  color: #ff6700;
}
/* 弹出二维码 */
.app .qrcode {
  /* display: none; */
  width: 124px;
  height: 0;
  overflow: hidden;
  /* 小米商城这几个字继承了父元素的lineheight40像素这里将它重置 */
  line-height: 1;
  background-color: #ffffff;
  text-align: center;
  /* 设置阴影部分 */
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
  /* 给二维码框也开启绝对定位这样让它脱离文档流就不会让下拉小三角溢出 */
  position: absolute;
  left: -35px;
  top: 40px;
  margin: auto;
  /* 当元素高度发生变化时 要花一秒的时间 */
  transition: height 1s;
  z-index: 99999;
}
.app:hover .qrcode,
.app:hover::after{
  /* 给二维码设置隐藏当鼠标移入的时候展开 */
  /* 还有一种办法就是通过，li:hover .app::after让鼠标移到li元素上时after元素显示出来 */
/* 在qrcode元素上通过将它的高度设置为0将其隐藏 */
  display: block;
  height: 148px;
}

.app .qrcode img {
  width: 90px;
  height: 90px;
  margin: 17px 17px;
}
/* 设置小米商城app字体大小 */
.app .qrcode span {
  color: black;
  font-size: 16px;
}
/* 开启父元素的相对定位 */
.app {
  position: relative;
}
/* 设置app下拉小三角 */
/* 当li hover时才给.app设置伪例元素 */
.app::after {
  content: "";
  display: none;
  position: absolute;
  /* 去掉小三角的默认继承自父元素的lineheight、 */
  width: 0;
  height: 0;
  border: transparent solid 8px;
  border-bottom-color: #ffffff;
  border-top: none;
  /* 给小三角设置定位 */
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


/* 头部部分 */
.header{
  height: 100px;
}
.header .logo{
  float: left;
  width: 55px;
  height: 55px;
  margin-top: 22.5px;
  position: relative;
  overflow: hidden;
  /* 设置文字首行缩进，如果是负的那么就是出了浏览器了  */
  text-indent: -999999px;
}
.logo a{
  width: 55px;
  height: 55px;
  left: 0;
  position: absolute;
  background-color: #ff6700;
  background-image: url(../etc/mi-logo.png);
  background-position: center;
  transition:left .5s;
  
}
.logo .home{
  background-image: url(../etc/mi-home.png);
  left: -55px;
  
}
/* 为两个背景元素mi和home设置动画效果 鼠标移入时mi向右移动一个logo单位 而home向左移动一个logo的距离 */
.logo:hover .mi{
  left: 55px;
}
.logo:hover .home{
  left: 0;
}

/* 设置导航条样式 */
.header .nav_warper{
  float: left;
  line-height: 100px;
  margin-left: 7px;
}
.all_good{
  position: relative;
  /* background-color: red; */
}
/* 让li元素左浮动 */
/* 只让其子元素浮动 后代元素就别浮动了 */
.nav > li{
  float: left;
}
/* 菜单栏 让它的层级小于弹出层的层级 */
/* 让它相对于父元素来定位 父元素开启相对定位 */
.all_goods_left{
  width: 234px;
  height: 420px;
  background-color: rgb(0, 0, 0,0.6);
  position: absolute;
  z-index: 999;
  left: -120px;
  line-height: 1;
  padding: 20px 0;
}
.all_goods_left li{
  padding-left: 30px;
}
/* 设置左侧导航栏的a的样式 */
/* 前面一定要冠上.nav——warper 否则就会被后面的样式覆盖掉 */
.nav_warper .all_goods_left a{
  color: white;
  display: block;
  height: 42px;
  line-height: 42px;
  font-size: 14px;
}

/* 给导航栏a标签后边的箭头设置样式 */
.all_goods_left a i{
  float: right;
  line-height: 42px;
}

/* 给弹出手机层设置样式 */
.all_goods_left .phone{
  width: 994px;
  height: 100%;
  top: 0;
  left: 234px;
  display: none;
  position: absolute;
  background-color: #D5E1E1;
}
.all_goods_left li:hover ~ .phone{
  display: block;
}
/* 给导航元素设置背景颜色 */
.header .nav{
  width: 792px;
  height: 100px;
  padding-left: 58px;
}
/* 将全部商品栏隐藏 而不占用容器位置*/
.header .nav .all_goods{
  visibility: hidden;
}
.nav_warper li a{
  font-size: 16px;
  margin-right: 20px;
  text-decoration: none;
  color: black;
  display: block;
}
.nav_warper li a:hover{
  color: #FF6700;
}



/* 全部商品弹出层 */
.nav .goods_info{
  height: 0;
  overflow: hidden;
  width: 100%;
  /* background-color: brown; */
  /* 这里的相对定位时相对于header——warper */
  position: absolute;
  top: 100px;
  left: 0;
  /* 隐藏时候先不设置 */
  /* border-top: 1px solid #E0E0E0;
  box-shadow: 0 5px 5px rgb(0, 0, 0,0.3); */
  transition: height 0.3s;
  z-index: 9999;
}
/* 当鼠标移入li元素或者当鼠标移到goods_info上时 弹出层不消失 */
/* 让第一个隐藏了的元素和第九个第十个元素鼠标悬停时没反应 */
/* .nav li:not(:first-of-type):not(:nth-child(9)):not(:nth-child(10)):hover ~ .goods_info, */
/* 上面的方法太费劲不推荐使用 */
.nav .show_goods:hover ~ .goods_info,
.goods_info:hover{
  height: 288px;
  border-top: 1px solid #E0E0E0;
  /* 给边框设置阴影部分 */
  box-shadow: 0 5px 5px rgb(0, 0, 0,0.3);
}
.header_warper{
  /* background-color: red; */
  position: relative;
  
}
.header{
  height: 100px;
  /* background-color: yellowgreen; */
}

/* 设置搜索栏 */
.search_warper{
  width: 296px;
  height: 50px;
  /* background-color: red; */
  float: right;
  margin-top: 25px;
  
}

/* 搜索框和搜索按钮之间有个缝隙让它们浮动之后这个缝隙就解决了 */
.search_warper .search_inp{
  box-sizing: border-box;
  width: 244px;
  border: none;
  padding: 0 10px;
  float: left;
  font-size: 16px;
  height: 50px;
  border: 1px solid rgb(224, 224, 224);
  /* 去除默认的轮廓线 */
  outline: none;
}
/* 设置旁边放大镜按钮样式 */
.search_warper .search_btn{
  float: left;
  width: 52px;
  height: 50px;
  box-sizing: border-box;
  padding-left: 0;
  border: 0;
  font-size: 16px;
  color: #616161;
  border: 1px solid rgb(224, 224, 224);
  /* 去除左边边框重叠到一起 */
  border-left: none;
}
/* 鼠标获取焦点时输入框有个橙色的边框 */
.search_warper .search_inp:focus{
  border: 1px solid #FF6700;
}
/* 通过设置兄弟元素的样式来给它设置边框 */
.search_warper .search_inp:focus + .search_btn{
  border: 1px solid #FF6700;
  border-left: none;
}
/* 设置鼠标悬停放大镜后背景发生改变 */
.search_warper .search_btn:hover{
  background-color: #FF6700;
}


/* 设置轮播图的样式 */
.banner{
  position: relative;
  height: 460px;
}
/* img标签的宽度是参照它的父元素li来设置的 当li脱离了文档流之后就失效了 */
.banner .img_list li{
  position: absolute;
}
.banner img{
  width: 100%;
  /* 去掉图片之间的轮廓线 */
  vertical-align: top;
}

/* 设置右下角小圆点 */
.point{
  position: absolute;
  bottom: 0;
  right: 0;
  margin:30px 40px;
}
/* 设置下面轮播点的样式 */
.point a{
  float: left;
  width: 6px;
  height: 6px;
  border: 2px solid rgb(255, 255, 255,0.4);
  background-color: rgb(0, 0, 0，.6);
  border-radius: 50%;
  margin: 0 3px;
}

.point a:hover,
.point a.active{
  background-color: rgb(255, 255, 255,0.4);
  border:rgb(0, 0, 0，.6);
}

.pres a{
  background-image: url(../etc/l5.png);
  position: absolute;
  width: 41px;
  height: 69px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.pres .pre{
  left: 234px;
  background-position: -84px 0;
}
.pres .next{
  /* 将右侧的图标放到最右边 */
  right: 0;
  background-position: -125px 0;
}

/* 设置鼠标悬停时左右互动图标的状态 */
.pres .pre:hover{
  background-position: 0 0;
}
.pres .next:hover{
  background-position: -42px 0;
}


/* 设置返回顶部条 样式*/
.back_top{
  width: 26px;
  height: 206px;
  background-color: #FFFFFF;
  /* 给返回开启固定定位 */
  position: fixed;
  bottom: 70px;
  right: 50%;

  /* left+margin-left+ width + margin-right +right = 视窗口宽度 */
    /* auto + 0 + 26 +0 + right = auto left和right都不能写死 */
    /* 因为margin-left和left在同一侧他们会相互补充所以不能设置margin-left，只能设置margin-right */
  margin-right: -639px;
}
/* ------------------------------------------------------------------------------------------------- */
/* 定义右侧返回栏 */
.back li{
  margin:17px 5px;
}
.back a{
  color: #9E9E9E;
}
.back a:hover{
  color: #FF6700;
}
.back .a1:hover ~ .back_tan{
  display: block;
}
.back .a2:hover ~ .back_tan2{
  display: block;
}
.back .a3:hover ~ .back_tan3{
  display: block;
}
.back .a4:hover ~ .back_tan4{
  display: block;
}
.back .a5:hover ~ .back_tan5{
  display: block;
}
.back li:first-child{
  margin-left: 6px;
}

.back_tan{
  display: none;
  width: 80px;
  height: 30px;
  background-color: #FFFFFF;
  position: absolute;
  right: 32px;
  top: 13px;
  line-height: 30px;
  text-align: center;
}
.back_tan2{
  display: none;
  width: 80px;
  height: 30px;
  background-color: #FFFFFF;
  position: absolute;
  right: 32px;
  top: 50px;
  line-height: 30px;
  text-align: center;
}

.back_tan3{
  display: none;
  width: 80px;
  height: 30px;
  background-color: #FFFFFF;
  position: absolute;
  right: 32px;
  top: 87px;
  line-height: 30px;
  text-align: center;
}

.back_tan4{
  display: none;
  width: 80px;
  height: 30px;
  background-color: #FFFFFF;
  position: absolute;
  right: 32px;
  top: 124px;
  line-height: 30px;
  text-align: center;
}


.back_tan5{
  display: none;
  width: 80px;
  height: 30px;
  background-color: #FFFFFF;
  position: absolute;
  right: 32px;
  top: 161px;
  line-height: 30px;
  text-align: center;
}

.a1::after{
  content: '';
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  background-color: transparent;
  border: transparent solid 6px;
  border-left-color: #ffffff;
  border-right: none;
  right: 26px;
  top: 21px;

}
.a2::after{
  content: '';
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  background-color: transparent;
  border: transparent solid 6px;
  border-left-color: #ffffff;
  border-right: none;
  right: 26px;
  top: 58px;
}
.a3::after{
  content: '';
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  background-color: transparent;
  border: transparent solid 6px;
  border-left-color: #ffffff;
  border-right: none;
  right: 26px;
  top: 95px;
}
.a4::after{
  content: '';
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  background-color: transparent;
  border: transparent solid 6px;
  border-left-color: #ffffff;
  border-right: none;
  right: 26px;
  top: 132px;

}
.a5::after{
  content: '';
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  background-color: transparent;
  border: transparent solid 6px;
  border-left-color: #ffffff;
  border-right: none;
  right: 26px;
  top: 169px;

}
.a1:hover::after{
  display: block;
}
.a2:hover::after{
  display: block;
}
.a3:hover::after{
  display: block;
}
.a4:hover::after{
  display: block;
}
.a5:hover::after{
  display: block;
}
/* --------------------------------------------------------------------------------------------------------------- */
